.Dictionary {
    max-width: 960px;
    margin: 0 auto;
    color:black;

  }
  
  .Dictionary section {
    box-shadow: 0px 30px 50px rgba(91, 86, 104, 0.08);
    border-radius: 8px;
    background: rgba(168, 165, 165, 0.913);
    margin-top: 10px;
    padding: 40px;
  }
  
  .Dictionary label {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    margin-bottom: 20px;
    display: block;
    line-height: 29px;
  }
  
   .Dictionary .search-input{

    height: 64px;
    color: #150e0e;
    font-size: 24px;
    line-height: 21px;
    padding: 22px;
    border: 1px solid #dddddd;
    border-radius: 6px;
     width: 85%;
  }
  
  
  .Dictionary .hint {
      margin-top: 15px;
      margin-left: 30px;;
      display: block;
      font-size: 18px;
      text-align:left;

  }
  .Dictionary .button-submit{
    width: 20%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(248, 248, 246);
    background-color: #868481;
    border:none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 18px;
    margin:20px;
  }
  
 
 .Dictionary .input-data{
    background-color: #3f3e3a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
  }
 
  @media (max-width: 768px){
  
  .Dictionary section {
    margin:5px 10px;
    
  
  
  }
  .Dictionary .hint {
    font-size: 14px;
  }
  .Dictionary label{
    font-size: 20px;
  }

  
  
  .Dictionary .search-input{
  height:56px;
  font-size: 18px;
  }
  .Dictionary .button-submit{
    font-size:small;
    width:30%; 
    text-align: center; 
    margin:5px; 
    
  }






 }
