.Meaning h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
    color: black;
  }
  
  .Meaning p {
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 20px 0 10px;
  }
  
  .Meaning em {
    font-size: 13px;
    line-height: 15px;
    color: #666666;
  }
  @media (max-width: 768px){
    .Meaning h4{
      font-size: 18px;
    }
    .Meaning h3{ 
      font-size: 20px;
    }

    .Meaning p{
      font-size: 18px;
    }

  }